* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Work sans-serif;
  }
  
  /* #title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #title-container span{
    font-size: 40px;
    color: red;
  } */
  